body {
  background-image: url(/background.png);
}
#traffic-light {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -160px;
  background-color: #333;
  width: 120px;
  height: 320px;
  border-radius: 30px;
}
span {
  appearance: none;
  position: relative;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: -40px;
  background-color: grey;
  vertical-align: middle;
  border-radius: 100%;
  display: block;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(175, 76, 76);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #8e3e3e}

.button:active {
  background-color: #8e3e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:disabled {
  background-color: #8e3e3e;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

@keyframes yellow-blink {
	 0% {
		 background-color: #FFFF00;
		 box-shadow: 0 0 6em #ffff33;
	}
	 50% {
		 background-color: #b3b300;
     box-shadow: 0 0 0em transparent;
     opacity: 0.1;
  }
}

* {
  outline: none;
}
